/* Whole document: */
body{
  font-size: 16px;
}
/* Headers */
h1.title {
  font-size: 24px;
  color: DarkGreen;
}
h1 { /* Header 1 */
  font-size: 22px;
  color: DarkGreen;
}
h2 { /* Header 2 */
    font-size: 20px;
      color: DarkRed;
}
h3 { /* Header 3 */
  font-size: 18px;
  color: DarkRed;
}
code.r{ /* Code block */
    font-size: 15px;
}


blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 15px;
    border-left: 1px solid #eee;
    border-color: blue;
}

